* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    font-size: 16px;
}

h1{
    font-size: 1.5rem;
    padding-right: 40px;
}

h2{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-bottom: 10px;
    color: #333;
}

/*base mobile*/
header { 
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #222;
    color: #fff;
    padding: 20px;
    gap: 10px;
}

main {
    display: block;
    padding: 20px;
    max-width: 1000px;
    margin: 0 auto;
}

section{
    margin-bottom: 30px;
    background: #f9f9f9;
    padding: 24px;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.08);
    height: fit-content;
}

nav{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

nav a {
    color: #fff;
    padding: 8px 12px;
    text-decoration: none;

}

a{
    transition: color 0.3s ease;
}

nav a:hover {
    text-decoration: underline;
     color: #e22626;
}

footer{
    background: #f4f4f4;
    padding: 15px;
    text-align: center;
} 

/*base desktop*/
@media(min-width: 768px){
    header {
        flex-direction: row;
        justify-content: space-around;
  }

  h1{
    font-size: 2rem;
  }

  nav{
    display: flex;
    flex-direction: row;
  } 

  main{
    padding: 40px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
  }

    #sobre {
    grid-column: 1;
        }

    #qualidades {
    grid-column: 2;
    }

    #contato {
    grid-column: 3;
    }

}